[run]
# measure branch coverage, too
branch = True
# don't measure python standard library (this is the default)
cover_pylib = False
# omit uninteresting stuff
omit =
    /usr/*
    mysite/*   # the main application
    polls/tests.py
    polls/migrations/*
    # TODO: omit unit test files and directories
    # TODO: omit migrations
# explicitly include the main app
include =
    polls/*